# settings for dotfiles repository
*
!.gitignore
!.gitmodules
!README.md
!.vscode
!.vscode/settings.json
!.vscode/extensions.json
!.github
!.github/**

# installer
!installer*.sh

# xdg base directory
!.config
!.local
!.local/share
!.local/share/xdg-ninja

# global git config
!.config/git
!.config/git/**

# zsh
!.zshenv
!.config/zsh
!.config/zsh/.zshenv
!.config/zsh/.zshrc
!.config/zsh/**/
!.config/zsh/**/*.zsh
# zinit
!.local/share/zinit
!.local/share/zinit/zinit.git
# navi
!.config/navi
!.config/navi/config.yaml
!.local/share/fzf
!.local/share/navi
!.local/share/navi/cheats
!.local/share/navi/cheats/**

# workspace
!workspace
!workspace/.gitkeep
!workspace/project
!workspace/project/.gitkeep
!workspace/templates
!workspace/templates/**
!workspace/tmp
!workspace/tmp/.gitkeep

# others
!.config/systemd
!.config/systemd/user
!.config/systemd/user/xremap.service
!.config/libinput-gestures.conf
!.config/xremap
!.config/xremap/**
!.ssh
!.ssh/config
!.ssh/conf.d
!.ssh/conf.d/keepalive.conf
!.local/share/mozc
!.local/share/mozc/*
!.local/share/v4l2loopback
!.local/share/v4l2loopback/*
