*

# dotfiles
!README.md
!workspace
!workspace/dotfiles
!workspace/dotfiles/**

# vscode
!.vscode
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/export-extension.sh
!.vscode/dotfiles.code-workspace

# git
!.github
!.github/**
!.gitignore
!.gitmodules
!.config
!.config/git
!.config/git/**
# submodules
!.local
!.local/share
!.local/share/zinit
!.local/share/zinit/zinit.git

# ssh
!.ssh
!.ssh/init.sh
!.ssh/config
!.ssh/conf.d
!.ssh/conf.d/keepalive.conf
!.ssh/conf.d/template.conf

# zsh
!.zshenv
!.config/zsh
!.config/zsh/.zshenv
!.config/zsh/.zshrc
!.config/zsh/**/
!.config/zsh/**/*.zsh

# python
!.config/uv
!.config/uv/uv.toml

# mise
!.config/mise
!.config/mise/config.toml

# workspace
!workspace/project
!workspace/project/.gitkeep
!workspace/tmp
!workspace/tmp/.gitkeep

# archive workspace
!workspace/archive
!workspace/archive/mise.toml
!workspace/archive/config
!workspace/archive/config/**
!workspace/archive/data
!workspace/archive/data/.gitattributes

# ubuntu specific files
!.config/systemd
!.config/systemd/user
!.config/systemd/user/xremap.service
!.config/xremap
!.config/xremap/**
!.config/mozc
!.config/mozc/ibus_config.textproto
!.config/guake
!.config/guake/config
# https://github.com/RPDJF/dotfiles/blob/master/.myconfig/ressources/HubApps
!.config/microsoft-edge
!.config/microsoft-edge/Default
!.config/microsoft-edge/Default/HubApps
!.config/microsoft-edge-beta
!.config/microsoft-edge-beta/Default
!.config/microsoft-edge-beta/Default/HubApps
