# settings for dotfiles repository
*
!.gitignore
!.gitmodules
!README.md
!.vscode
!.vscode/settings.json
!.vscode/extensions.json

# xdg base directory
!.config
!.local
!.local/share
!.local/share/xdg-ninja

# global git config
!.config/git
!.config/git/**

# zsh
!.zshenv
!.config/zsh
!.config/zsh/.zshenv
!.config/zsh/.zshrc
!.config/zsh/*.zsh
# zinit
!.local/share/zinit
!.local/share/zinit/zinit.git
# navi
!.config/navi
!.config/navi/config.yaml
!.local/share/fzf
!.local/share/navi
!.local/share/navi/cheats
!.local/share/navi/cheats/**

# workspace
!workspace
!workspace/.gitkeep
!workspace/project
!workspace/project/.gitkeep
!workspace/tmp
!workspace/tmp/.gitkeep
!workspace/scratch
!workspace/scratch/.gitkeep

# others
!.config/libinput-gestures.conf
!.ssh
!.ssh/config
!.ssh/conf.d
!.ssh/conf.d/keepalive.conf
!.local/share/sdkman
!.local/share/sdkman/etc
!.local/share/sdkman/etc/config
